<<<<<<< HEAD
@model Usuario

<h1 class="text-center">O cadastro foi realizado com sucesso</h1>
=======
@model Usuario

<h1 class="text-center">O cadastro foi realizado com sucesso</h1>
>>>>>>> refs/remotes/origin/master
<a class="text-center" href="/Usuarios/ListaDeUsuarios">Ir para a lista de usuários</a>